.cart-page {
    width: 100%;
    height: 700px;
    background-color: #fff;
}

.cart-page__wrap {
    display: flex;
    justify-content: space-between;
}

.cart-page__list {

}

.cart-page-pay {

}
